@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

body {
    color: rgb(var(--foreground-rgb));
    background: white;
}

.card {
    @apply rounded;
    box-shadow: 0 1px 2px 1px lightgray;
}

@layer base {
    /* Main content blocks */
    h1 {
        @apply text-2xl text-center;
    }
    h2 {
        @apply text-xl text-center;
    }
    h3 {
        @apply text-lg text-center;
    }
    a {
        text-decoration: none;
        @apply text-gray-500;
    }
    section {
        @apply flex flex-col justify-around gap-6;
    }

    /* Buttons  */
    .button-primary {
        @apply bg-primary-500 hover:bg-primary-700 text-white font-bold py-2 px-4 rounded text-center;
    }

    /* Radios and checkboxes */
    [type='radio'],
    [type='checkbox'] {
        @apply appearance-none bg-white border-neutral-500 border-2;
        height: 16px;
        width: 16px;
    }

    [type='checkbox'] {
        @apply rounded;
    }

    [type='radio']:checked::before,
    [type='checkbox']:checked::before {
        content: '';
        @apply flex bg-primary-300 w-full h-full;
        position: relative;
    }

    [type='radio'],
    [type='radio']:checked::before {
        border-radius: 50%;
    }

    /* Inputs */
    input {
        border: 1px solid lightgray;
    }
}
