@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
    @apply text-secondary-600;
    background: white;
}

main {
    @apply bg-neutral-100 flex min-h-screen flex-col items-center justify-center py-12 gap-12;
}

main:has(.sponsors-sections) {
    @apply pb-0;
}

.elevation {
    box-shadow: 0 1px 2px 1px lightgray;
}

nav {
    @apply bg-white elevation;
    width: 100%;
}

.card {
    @apply bg-white elevation rounded p-6 w-96;
    width: fit-content;
    max-width: 100vw;
    overflow: hidden;
}

.iframe-card {
    @apply card;
    width: 400px;
}

.form-card {
    @apply card;
    width: 600px;
}

.contact-card {
    @apply card;
    padding: 1rem;
    min-width: 18rem;
}

.sponsors-sections {
    /* Some of the sponsor images have pure white backgrounds with no margin */
    @apply elevation bg-white p-6 pb-24;
    min-width: 100vw;
}

@layer base {
    /* Main content blocks */
    h1 {
        @apply text-5xl text-center font-bold;
    }
    h2 {
        @apply text-2xl text-center font-semibold;
    }
    h3 {
        @apply text-xl text-center font-semibold;
    }
    a {
        text-decoration: none;
        @apply text-gray-500;
    }
    section {
        @apply flex flex-col justify-around items-center gap-3;
    }

    /* Buttons  */
    .button-primary {
        @apply bg-primary-500 hover:bg-primary-700 text-white font-bold py-2 px-2 rounded text-center;
    }

    .button-secondary {
        @apply bg-secondary-200 hover:bg-secondary-300 text-gray-500 font-bold py-2 px-2 rounded text-center;
    }

    /* Radios and checkboxes */
    [type='radio'],
    [type='checkbox'] {
        @apply appearance-none bg-white border-neutral-500 border-2;
        height: 16px;
        width: 16px;
    }

    [type='checkbox'] {
        @apply rounded;
    }

    [type='radio']:checked::before,
    [type='checkbox']:checked::before {
        content: '';
        @apply flex bg-primary-500 w-full h-full;
        position: relative;
    }

    [type='radio'],
    [type='radio']:checked::before {
        border-radius: 50%;
    }

    /* Inputs */
    input {
        border: 1px solid lightgray;
    }

    /* Lists */
    ul {
        list-style-type: square;
    }

    /* Tables */
    td,
    th {
        @apply p-2.5;
        text-align: left;
    }

    tr:nth-child(odd) td {
        @apply bg-gray-100 rounded;
    }
}
